@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
*{
    font-family: 'Poppins', sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Opens-sans', sans-serif;
    overflow-x: hidden;
}


header{
    background-color: #1e1e1e;
    padding: 5px 0;
}


.header{
    height: inherit;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-color: #fff;
    border-radius: 50%;
}

.header .logo a{
    
   text-decoration: none;
}


.header .logo a img{
    max-width: 80px;
    box-sizing: 0px 0px 10px #fff;
}


.header nav ul{
    display: flex;
}

.header nav ul.abrir{
    display: flex;
 }

.header nav ul li{
    list-style: none;
    padding: 3px 20px;
    margin-left: 40px;
    transition: all ease .5s;
}

.header nav ul li.active{
   background-color: #12be21;
   border-radius: 8px;
}

.header nav ul li a{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration:none;
   
}

.header .menu-hamburguer{
    width: 40px;
    height: 40px;
    display: none;
}



/* Infos */


.infos{
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px  0;
    position: relative;
    transition: 0.5s;
}

.infos .infos-area{
    max-width: 1140px;
    margin: auto;
    display: flex;
    color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
}



.infos .infos-area .right{
    margin-top: 20px;
    flex: 1;
    height: 500px;
    background-color: #12be21;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transform: rotate(-50deg);
}

.infos .infos-area .right img{
    width: 100%;
    transform: scale(.9);
    transform: rotate(50deg);
}


.infos .infos-area .left{
    flex: 2;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
}



.infos .infos-area .left h2{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2em;

}

.infos .infos-area .left h2 span{
    font-size: 3em;
    color: #12be21;
}
.infos .infos-area .left p {
    font-size: 14px;
    max-width: 600px;
}

.infos .infos-area .left a{
    display: block;
    color: #fff;
    padding: 8px 20px;
    background-color: #12be21;
    width: 260px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 15px;
}



.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transition: .5s;
    z-index: 200;
    transform: translateX(-50%);
}

.thumb li{
    list-style: none;
    cursor: pointer;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 40px;
    margin-left: 40px;
}



/* beneficios*/

.beneficios{
    margin: 30px 0;
}


.beneficios-area{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}




.beneficios-area .box{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.beneficios-area .box h1{
    font-size: 28px;
    text-align: center;
}

.beneficios .box p{
    margin: 5px 0; 
}

.beneficios .box .btn{
    display: flex;
    justify-content: flex-end;
}
.beneficios .box .btn a{
    width: 160px;
    padding: 8px 20px;
    background-color: #12be21;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    border-radius: 7px;
}








.email{
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px 0;
}

.email-area{
    width: 100%;
    max-width: 1140px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email-area .grandao{
    font-size: 42px;
}

.email-area h3{
    font-size: 28px;
    margin-bottom: 10px;
}

.email-area p{
    max-width: 800px;
    text-align: justify;
    font-size: 14px;
}


.email-area .box{
    margin-top: 20px;
    border-radius: 8px;
    background-color: #fff;
    width: 540px;
    height: 35px;
    display: flex;
    align-items: center;
}

.email-area .box .icon{
    height: inherit;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-area .box .icon i{
    color: #1e1e1e;
    cursor: pointer;
    font-size: 25px;
}

.email-area input{
    flex: 1;
    outline: none;
    border: 0;
    height: inherit;
    padding-left: 30px;
    border-radius: 8px;
}


.email-area span{
    font-size: 13px;
    margin: 10px auto 0 auto;
}


/*Musculação */


.musculacao-area{
    max-width: 1140px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}


.musculacao-area .box{
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 0;

}

.musculacao-area .box h3{
    font-size: 28px;
    text-align: center;
}

.musculacao-area .box a {
    width: 160px;
    padding: 8px 20px;
    background-color: rgb(18, 190, 33);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    border-radius: 7px;
}

.musculacao-area .img-box{
    width: 550px;
    height: 300px;
    padding: 10px 0;
    background-color: #06ec1aee;
    position: relative;
    border-radius: 10px;
}




.musculacao-area .img-box .atras{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    /* background-color: #000; */
    background-image: url('../imagens/malhacao.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0,0,0,0.8);
    z-index: 99;
}














/*cookie */

.cookies-msg{
    width: 80%;
    background-color: #ccc;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    z-index: 9000;
    border-radius: 15px;
    display: none;
}

.cookies-msg.mostrar{
    display: block;
}
.cookies-msg .cookies-txt{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

.cookies-msg .cookies-txt i{
    font-size: 32px;
    color: brown;
    margin-right: 20px;
}

.cookies-msg .cookies-btn{
    margin-left: 30px;
}

.cookies-msg .cookies-btn button{
    background-color: #1e1e1e;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 40px;
    cursor: pointer;
    transition: .2s;
    outline: none;
    border-radius: 10px;
    border: 0;
}

.cookies-msg .cookies-btn button:hover{
    transform: scale(.9);
}




footer{
    padding: 30px 0;
    background-color: #000;
    color: #fff;
}

.footer-area{
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-area .developer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.footer-area .developer span{
    margin-left: 20px;
}

.footer-area .ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #12be21;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-area .ball .ball2{
    width: inherit;
    height: inherit;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.4);
}

.footer-area .midias{
    display: flex;
    flex-direction: column;
}

.footer-area .midias ul{
    display: flex;
}

.footer-area .midias ul li{
    list-style: none;
}

.footer-area .midias ul li a{
    display: block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 4px 8px;
    border-radius: 5px;
    margin-right:10px;
}


.footer-area .midias ul li a i {
    color: #fff;
    font-size: 22px;
}

.whatsapp{
    position: fixed;
    right: 2rem;
    z-index: 1;
    bottom: 0;
    padding: 10px;
    transition: all ease-in .5s;
    border-radius: 50%;
}


.whatsapp a i{
    font-size: 32px;
    color: #12be21;
    cursor: pointer;
}







@media (min-width: 375px) and (max-width: 600px){

 header{
    width: 100vw;
    transition: .5s;
 }


 .header nav ul{
    display: none;
    width: 100vw;
    flex-direction: column;
    position: absolute;
    height: 500px;
    background-color: #000;
    left: 0;
    right: 0;
    margin-top: 37px;
    z-index: 40000;
    transition: ease 0.5s;
 }

 .header nav ul li{
    margin-left: 0;
    margin-bottom: 20px;
 }
 
 .logo{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
 }

 

 .logo a img{
    transform: scale(.7);
 }

 .infos .infos-area {
    width: 100vw;
    display: flex;
    flex-direction: column;
 }
 .infos .infos-area .left,
 .infos .infos-area .right{
    width: 100%;
 }

 .infos .infos-area .left{
    width: calc(100vw  - 10px);
    margin-bottom: 50px;
    align-items: center;
 }

 .infos .infos-area .left h2{
    font-size: 22px;

 }
 .infos .infos-area .left h2{
    text-align: center;
 }
 
 .infos .infos-area .left p{
    margin: 10px;
    text-align: justify;
 }
 .infos .infos-area .left h2 span {
    font-size: 24px;
    text-align: center;
 }

 .infos .infos-area .right {
   width: 100vw;
   display: flex;
   align-items: center;
   transform: rotate(0);
   justify-content: center;
   padding: 10px 0;
 }

 .infos .infos-area .right img {
    transform: rotate(0);
    height: 290px;
    object-fit: contain;
 }

 .thumb{
    left: 50%;
    bottom: -20px;
 }

 .header .menu-hamburguer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
 }

 .header .menu-hamburguer i{
    color: #fff;
    cursor: pointer;
    font-size: 28px;
    font-weight: 900;
 }

 .header .logo a {
    font-size: 31px;
 }

 .beneficios-area {
    width: calc(100vw - 5px);
    flex-wrap: wrap;
 }

 .beneficios .box .btn a {
    margin-right: 10px;
 }

 .beneficios .box p {
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
}

.beneficios .box iframe{
    width:100vw;
}

.email-area h3 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.email-area .box {
    width: calc(100vw - 20px);
}

.email-area p {
    width: calc(100vw - 20px);
}

.cookies-msg{
    width: calc(100vw - 10px);
    transform: translate(-50%);
}
.cookies-msg .cookies-txt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookies-msg .cookies-txt p {
    font-size: 12px;
}


.musculacao-area {
    flex-wrap: wrap;
}

.musculacao-area .box{
    padding: 20px 0;
}

.musculacao-area .box p{
    width: calc(100vw - 20px);
    font-size: 14px;
    font-weight: 600;
}
.musculacao-area .box a{
    margin-right: 10px;
}

.musculacao-area .img-box {
    border-radius: 0;
}

.footer-area{
    flex-direction: column;
}


.footer-area .midias{
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-area .developer span {
    margin-left: 0;
}
}

